<%= _.template(require('./header.html'))() %>
<div class="about_block" style="background-color: #fff; background-image: url('');">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 cols-6 col-xl-6 col-lg-6 about_block_items">
        <h3 class="about_title">О Компании</h3>
        <h2 class="about_descr_title">Надёжно и бережно с 2006 года</h2>
        <img src="/img/line.png" alt="">
        <p class="about_descr">Компания "Alfa Delivery Services"  основанная в апреле 2006 года является официальным бизнес-партнером всемирно известной компании "UPS" в Нур-султан и авторизованным сервис-партнероми в городах Казахстана: Нур-султан, Кокшетау, Актау, Жанаозен, Баутино, Атырау, Уральск, Аксай, Петропавловск, Актобе, Хромтау, Тенгиз, Павлодар, Усть-Каменогорск, Караганда, Кызылорда.</p>
        <p class="about_descr">Компания "Alfa Delivery Services" имеет возможность предложить вам широкий спектр услуг экспресс-доставки, по принципу "от двери до двери", в области перевозок корреспонденции и грузов.</p>
        <p class="about_descr_h3">1. Экспресс Плюс (Авиа по Республике Казахстан) со 100% возвратом денег в случае несвоевременной доставки:</p>
        <p class="about_descr_p">
          Доставка до 10:00<br>
          Доставка до 12:00<br>
          Доставка к назначенной дате и времени</p>
        <p class="about_descr_h3">2. Международная экспресс доставка по странам СНГ и Странам Дальнего Зарубежья:</p>
        <p class="about_descr_p">
          Утренняя доставка до 10.30 часов;<br>
          Доставка в течение дня до 18.00 часов.
        </p>
        <p class="about_descr_h3">3. Доставка по Республике Казахстан:</p>
        <p class="about_descr_p">
          Экспресс доставка (Авиа)<br>
          Доставка день в день (Авиа)<br>
          Железнодорожная доставка
        </p>
        <p class="about_descr_h3">4. Внутригородская доставка</p>
        <p class="about_descr_h3">5. Услуги таможенного брокера (Представителя)</p>
        <p class="about_descr_h3">6. Международная доставка грузов любым видом транспорта, в том числе организация грузовых чартерных авиа рейсов</p>
        <p class="about_descr_h3">7. Перевозка Крупного Рогатого Скота (КРС) по Казахстану</p>
      </div>
      <div class="col-md-6 col-sm-6 cols-6 col-xl-6 col-lg-6">
        <div class="about_img">
          <div class="about_img_first"><img src="/img/about_img_first.png" alt="" /></div>
          <div class="about_img_second about_page_img"><img src="/img/about_img.png" alt="" /></div>
        </div>
        <div class="about_page_descr_text">
          <p class="about_descr_p">За <span class="orange_text">14 лет работы</span> на рынке мы подобрали достойную команду сотрудников и обслуживаем <span class="orange_text">более 2000 клиентов ежемесячно</span>
            Каждый день мы обрабатываем <span class="orange_text">более 500 отправлений.</span>
          </p>
          <p class="about_descr_p">
            Alfa Delivery Services развивает новые технологии в области доставки и отслеживания. Например, <span class="orange_text">отследить свою посылку можно и по QR-коду,</span> который мы специально предусмотрели на наших авиа-накладных.
          </p>
          <p class="about_descr_p">
            Скрытых надбавок в тарификации у нас нет!
          </p>
          <p class="about_descr_p">
            Мы работаем <span class="orange_text">на собственных автомобилях</span> и всю корреспонденцию и малые посылки мы собственноручно заберем и доставим Вашим получателям
          </p>
          <p class="about_descr_p">
            Да, сегодня на рынке множество компаний, которые оказывают подобные услуги и качество оказываемых услуги различное. <span class="orange_text">Мы-за то, чтобы бизнес был честный и добросовестный.</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<%= _.template(require('./footer.html'))() %>
