<%= _.template(require('./header.html'))() %>
<main>
  <div class="container">
    <div class="row">
      <div class="col-md-7 template_descr">
        <h3 class="h3_template">услуги</h3>
        <h2 class="h2_template">Таможенный представитель</h2>
        <img class="line" src="/img/line.png" />
        <p class="certificate_p">Одновременно с комплексом курьерских услуг мы готовы предложить услуги таможенного представителя на случай экспорта груза или импорта из/на территорию РК.</p>
        <p class="certificate_p second_p">При кажущейся простоте подачи экспортной и импортной деклараций в уполномоченный орган есть ряд нюансов, правильное решение в отношении которых удается принять только имея соответствующий опыт.</p>
        <p class="certificate_p">В реестре таможенных представителей Alfa Delivery Services состоит с 2011 года и являемся действующим членом Казахстанской Ассоциации Таможенных Брокеров.</p>
      </div>
      <div class="col-md-5 template_descr">
        <img src="<%= require('./assets/img/certificate.png') %>" alt="">
      </div>
    </div>
  </div>
</main>
<%= _.template(require('./footer.html'))() %>
