<%= _.template(require('./header.html'))() %>
<main>
  <div class="container">
    <div class="row">
      <div class="col-md-12 template_descr">
        <h3 class="h3_template">стоимость доставки</h3>
        <h2 class="h2_template">Экспресс - доставка - (Авиа)</h2>
        <img class="line" src="/img/line.png" />
        <h3 class="h3_descr">Рассчет по городам</h3>
        <ul class="cost_params">
          <li class="cost_selects">
            <span class="pos_number_1">1</span><span class="select_text">Откуда</span>
            <select class="select1" name="" id="">
              <option disabled selected value="Выберите город....">Выберите город....</option>
              <option value="">Алматы</option>
              <option value="">Актау</option>
              <option value="">Атырау</option>
            </select>
            <img src="<%= require('./assets/img/airplane.svg') %>" alt=""><span class="select_text">Куда</span>
            <select class="select2" name="" id="">
              <option disabled selected value="">Выберите город....</option>
              <option value="">Шымкент</option>
              <option value="">Кызылорда</option>
              <option value="">Павлодар</option>
            </select>  
          </li>
          <li><span class="pos_number">2</span> <span class="select_text">Выберите тип</span>
            <div class="pos_checkbox">
              <label>
                <input class="gruz" type="radio" name="radio">
                <span>Груз</span>
              </label>
              <label>
                <input class="convert" type="radio" name="radio">
                <span>Конверт</span>
              </label>
            </div>
          </li>
          <li class="cost_kg">
            <div>
              <span class="pos_number">3</span> <span class="select_text">Выберите вес от 0.5 до 10</span>
            </div>
            <div class="kg">
              <input class="kg_input" type="text"><span>кг</span>
            </div>
            <span class="cost_info">«По данному направлению мы проконсультируем Вас по телефону. Пожалуйста, обратитесь в <a href="#" class="orange">отделение</a>»</span>
          </li>
          <li class="pos_number_itog"><span class="pos_number">3</span> <span class="select_text">Итог: <span class="orange">3748</span></span></li>
        </ul>
        <h3 class="cost_descr">«В случае возникновения дополнительных вопросов, пожалуйста, обратитесь в <a href="#" class="orange">отделение</a> »</h3>
      </div>
    </div>
  </div>
</main>
<%= _.template(require('./footer.html'))() %>
