<div class="posilka">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 cols-12 col-xl-12 col-lg-12">
        <div class="posilka_title_block">
          <h3 class="posilka_title">отслеживание отправлений</h3>
          <h2 class="posilka_descr_title">Найдите свою посылку быстро</h2> 
          <img src="../src/assets/img/line.png" alt="" />
        </div>
      </div>
      <div class="posilka_forms_bloc">
        <div class="posilka_form">
          <div class="container">
            <div class="row posilka_descr">
              <div class="col-md-3 col-sm-3 cols-3 col-xl-3 col-lg-3 posilka_img"><img src="../src/assets/img/logo_posilka.png" alt="logo"></div>
              <div class="col-md-9 col-sm-9 cols-9 col-xl-9 col-lg-9 input_block">
                <h3>Введите номер накладной ADS</h3>
                <div class="posilka_submit">
                  <input type="text" placeholder="Номер накладной">
                  <a class="posilka_btn btn_ads">Найти</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="posilka_form">
          <div class="container">
            <div class="row posilka_descr">
              <div class="col-md-3 col-sm-3 cols-3 col-xl-3 col-lg-3 posilka_img"><img src="../src/assets/img/ups.png" alt="ups"></div>
              <div class="col-md-9 col-sm-9 cols-9 col-xl-9 col-lg-9 input_block">
                <h3>Введите номер накладной UPS</h3>
                <div class="posilka_submit">
                  <input type="text" placeholder="Номер накладной">
                  <a href="#" class="posilka_btn">Найти</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="contacts">
  <div class="contacts_list">
    <h2>Свяжитесь с нами</h2>
    <img class="line" src="../src/assets/img/line.png" alt="" />
    <ul>
      <li>
        <img class="contacts_icons" src="../src/assets/img/icon_3.png" alt="" />
        <div class="contacts_descr">
          <p>Номер телефона:</p>
          <h3>+7 (727) 242-22-11</h3>
        </div>
      </li>
      <li>
        <img class="contacts_icons" src="../src/assets/img/icon_4.png" alt="" />
        <div class="contacts_descr">
          <p>Whatsapp:</p>
          <h3>+7701 786 8232</h3>
        </div>
      </li>
      <li>
        <img class="contacts_icons" src="../src/assets/img/icon_1.png" alt="" />
        <div class="contacts_descr">
          <p>Пишите нам:</p>
          <h3>info@ads.com.kz</h3>
        </div>
      </li>
      <li>
        <img class="contacts_icons" src="../src/assets/img/icon_2.png" alt="" />
        <div class="contacts_descr">
          <p>Мы находимся:</p>
          <h3>Центральный офис в г. Алматы<br> Мы и в других городах</h3>
        </div>
      </li>
      <li>
        <a class="contacts_btn" href="#">Обратная связь</a>
      </li>
    </ul>
  </div>
  <div class="contact_map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d180827.1303565181!2d76.73829537831116!3d43.2078284980075!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2skz!4v1592974889488!5m2!1sru!2skz"  frameborder="0" style="width: 100%; height: 100%; border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  </div>
</div>
<!-- MODAL -->
<div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal_block">
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-3 posilka_img"><img src="../src/assets/img/logo_posilka.png" alt="logo"></div>
            <div class="col-md-7 col-7 input_block">
              <h3>Введите номер накладной ADS</h3>
              <div class="posilka_submit">
                <input type="text" placeholder="Номер накладной">
                <a class="posilka_btn btn_ads">Найти</a>
              </div>
            </div>
            <div class="col-md-2 col-2 close_btn">
              <a class="close" data-dismiss="modal" >
                <span aria-hidden="true"><img src="../src/assets/img/close.png" alt=""></span>
              </a>
            </div>
          </div>
          <div class="row modal_list_descr">
            <div class="col-md-12">
              <div class="modal_h3">
                <h3 class="modal_list_h nakladnaya">Накладная:</h3><span class="modal_span">001 007 028885</span><a href="#" class="print_modal"><img src="../src/assets/img/print_icon.svg" alt=""> Печать</a>
              </div>
            </div>
            <div class="col-md-4 modal_list">
              <ul>
                <li class="modal_list_h">Характер груза</li>
                <li>Мест: 2</li>
                <li>Вес: 149,39 кг</li>
              </ul>
            </div>
            <div class="col-md-4 modal_list">
              <ul class="modal_border">
                <li class="modal_list_h">Статус: <span class="modal_color">Доставлен</span></li>
                <li>Искалиев</li>
                <li>25.05.2020 12:26</li>
              </ul>
            </div>
            <div class="col-md-4 modal_list">
              <ul class="modal_border">
                <li class="modal_list_h">Отправитель</li>
                <li>Город Алматы</li>
                <li class="modal_list_h">Получатель</li>
                <li>Город Атырау</li>
              </ul>
            </div>
            <div class="col-md-12">
              <div class="modal_list_h3">
                <h3 class="modal_list_h nakladnaya">Подобный обзор</h3><span class="modal_span"><img class="plus" src="../src/assets/img/plus.png" alt=""><img class="minus" src="../src/assets/img/minus.png" alt=""></span>
              </div>
            </div>
            <div class="col-md-12 modal_list_obzor">
              <div class="modal_list_link">
                <img class="check_link" src="../src/assets/img/check_link.png" alt="">
                <img class="check_link_list" src="../src/assets/img/link.png" alt="">
              </div>
              <div class="modal_list_descr">
                <ul>
                  <li>
                    <h3 class="modal_list_h">Доставлен</h3>
                    <span>Уральск 25.05.2020 12:26</span>
                  </li>
                  <li>
                    <h3 class="modal_list_h">Отправление на доставке у курьера</h3>
                    <span>Уральск 25.05.2020 12:26</span>
                  </li>
                  <li>
                    <h3 class="modal_list_h">Прибыло в город назначения</h3>
                    <span>Уральск 25.05.2020 12:26</span>
                  </li>
                  <li>
                    <h3 class="modal_list_h">Отправлено в город назначения</h3>
                    <span>Уральск 25.05.2020 12:26</span>
                  </li>
                  <li>
                    <h3 class="modal_list_h">Отправлено в город назначения</h3>
                    <span>Уральск 25.05.2020 12:26</span>
                  </li>
                  <li>
                    <h3 class="modal_list_h">Заказ размещен: Накладная открыта</h3>
                    <span>Уральск 25.05.2020 12:26</span>
                  </li>
                  <li>
                    <h3 class="modal_list_h">Новая накладная</h3>
                    <span>Уральск 25.05.2020 12:26</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal_block_print">
  <div class="modal_print_center">
    <img src="../src/assets/img/logo_posilka.png" alt="logo">
    <h3>Подтверждение доставки</h3>
    <p>Уважаемый Клиент, Настоящим подтверждаем доставку<br>
    по № накладной 001 007 028885</p>
    <div class="print_ul">
      <ul class="print_ul_1">
        <li><strong>Вес:</strong>149,39 кг</li>
        <li><strong>Отправитель:</strong>149,39 кг</li>
        <li><strong>Отправлено:</strong>149,39 кг</li>
      </ul>
      <ul class="print_ul_2">
        <li><strong>Характер:</strong>149,39 кг</li>
        <li><strong>Получатель:</strong>149,39 кг</li>
        <li><strong>Доставлено:</strong>149,39 кг</li>
      </ul>
    </div>
    <p>Данное подтверждение доставки является действительным<br> документом, подтверждающим оказание услуги.</p>
    <p>Благодарим Вас за обращение в ADS!<br>
      Будем рады оказаться полезными вновь.</p>
    <p>Данные сформированы на 29.06.2020 13:56:20</p>
  </div>
</div>
</main>
</body>
</html>