<%= _.template(require('./header.html'))() %>
<main>
  <div class="container">
    <div class="row">
      <div class="col-md-8 template_descr">
        <h3 class="h3_template">ИНФОРМАЦИЯ</h3>
        <h2 class="h2_template">Краткая инструкция по приему отправления ADS:</h2>
        <img class="line" src="/img/line.png" />
        <h3 class="h3_descr">Краткая инструкция по приему отправления ADS:</h3>
        <ul class="information_ul">
          <li>Время приезда курьера-с 09.00 до 18.00</li>
          <li>Накладные заполняются ИСКЛЮЧИТЕЛЬНО отправителем. Заполнение накладной курьером строго запрещено</li>
          <li>Убедитесь, что характер упаковки соответствует вложению. Если к перевозке передается хрупкое/имеющее специальные условия транспортировки, ОБЯЗАТЕЛЬНО сообщите нам</li>
          <li>Отправления не должны содержать любых запрещенных предметов, включая предметы особой ценности ( такие как произведения искусства, антиквариат, драгоценные камни, марки, уникальные предметы и т.п.)</li>
          <li>Доставка осуществляется по адресу, указанному при заборе отправления</li>
        </ul>
        <h3 class="h3_descr">Некоторые определения:</h3>
      </div>
      <div class="col-md-4"></div>
      <div class="col-md-7 uslugi_descr">
        <ul>
          <li class="accordion"><span>Подлежащий оплате вес</span> <span class="plus"><img class="plus_uslugi" src="/img/plus.png" alt=""><img class="minus_uslugi" src="/img/minus.png" alt=""></span></li>
          <div class="panel">
            <p>
              <strong>Подлежащий оплате вес</strong> - это вес, используемый для расчета тарифа. Для национальных и международных услуг подлежащим оплате весом будет бóльшая из величин: объемный вес или фактический вес
              Для многоместного отправления подлежащий оплате вес определяется суммой бóльших весов отдельных мест отправления, т.е. в расчет берется либо фактический вес, либо объемный вес мест отправления, смотря какой больше.
            </p>
            <ul class="panel_ul">
              <li>Как определить фактический вес: для определения фактического веса отправления используйте любую стандартную шкалу. Дробную часть необходимо округлить до следующего килограмма.</li> 
              <li>Как определить объемный вес: разделите габаритный размер отправления (длина х ширина х высота, округляя до следующего целого сантиметра) в сантиметрах на 5000. Дробную часть необходимо округлить до следующего килограмма</li> 
            </ul>
          </div>
          <li class="accordion"><span>Конверт ADS</span> <span class="plus"><img class="plus_uslugi" src="/img/plus.png" alt=""><img class="minus_uslugi" src="/img/minus.png" alt=""></span></li>
          <div class="panel">
            <p><strong>Конверт ADS</strong> является упаковкой отправлений на бумажном носителе (документы, пр. бумаги) НЕ ВЗВЕШИВАЕТСЯ</p>
          </div>
          <li class="accordion"><span>«Топливный набор»</span> <span class="plus"><img class="plus_uslugi" src="/img/plus.png" alt=""><img class="minus_uslugi" src="/img/minus.png" alt=""></span></li>
          <div class="panel">
            <p><strong>«Топливный сбор»</strong> - это величина непостоянная, изменяется один раз в месяц, выражается в определённом коэффициенте применяемом к основному тарифу. Alfa Delivery Services данную надбавку к отправлениям по РК НЕ ПРИМЕНЯЕТ</p>
          </div>
        </ul>
      </div>
    </div>
  </div>
</main>
<%= _.template(require('./footer.html'))() %>
