<%= _.template(require('./header.html'))() %>
<main>
  <div class="container">
    <div class="row">
      <div class="col-md-8 template_descr">
        <h3 class="h3_template">услуги</h3>
        <h2 class="h2_template">Экспресс-доставка по Республике Казахстан</h2>
        <img class="line" src="/img/line.png" />
      </div>
      <div class="col-md-4"></div>
      <div class="col-md-7 uslugi_descr">
        <ul>
          <li class="accordion"><span>Стандартная экспрес - доставка АВИА. Send it express</span><span class="plus"><img class="plus_uslugi" src="/img/plus.png" alt=""><img class="minus_uslugi" src="/img/minus.png" alt=""></span></li>
          <div class="panel">
            <p>Для менее срочных отправлений есть надежная альтернатива. Время в пути зависит от адресата и обычно занимает от 3 до 7 рабочих дней, не включая день приема</p>
          </div>
          <li class="accordion"><span>Экспресс Плюс Авиа* money back guarantee</span><span class="plus"><img class="plus_uslugi" src="/img/plus.png" alt=""><img class="minus_uslugi" src="/img/minus.png" alt=""></span></li>
          <div class="panel">
            <p>Актуально в ситуации повышенной срочности. Учитывая стоимость, мы берем на себя дополнительные обязательства по доставке, следуя исключительным пожеланиям клиента. Среднее время доставки от 1-5 дней, включая день приема</p>
            <ul class="panel_ul">
              <li>«Из рук в руки», то есть ЛИЧНО Используйте данный сервис тогда, когда передача Вашего отправления должна осуществиться непосредственно конкретному лицу и только ему. Для этого мы специально выпустили красные конверты
              <li>«День в день» - СЕГОДНЯ* Сделаем все возможное, чтобы доставить вашу корреспонденцию сегодня. ( Есть ограничения)</li> 
              <li>Доставка ко времени - до 10.00; до 12.00; к назначенной дате и времени</li> 
              <li>Субботняя доставка. Воскресная доставка. Доставка в праздничный день.</li>
              <li>Вы отдыхаете, мы - на маршруте</li>  
            </ul>
          </div>
          <li class="accordion"><span>«День в день»</span> <span class="plus"><img class="plus_uslugi" src="/img/plus.png" alt=""><img class="minus_uslugi" src="/img/minus.png" alt=""></span></li>
          <div class="panel">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione tempore at sapiente quod ut? Quisquam tempora animi explicabo, similique velit quo, unde ducimus aliquam dolorum, voluptas pariatur delectus earum nisi!</p>
          </div>
          <li class="accordion"><span>«Из рук в руки»</span><span class="plus"><img class="plus_uslugi" src="/img/plus.png" alt=""><img class="minus_uslugi" src="/img/minus.png" alt=""></span></li>
          <div class="panel">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione tempore at sapiente quod ut? Quisquam tempora animi explicabo, similique velit quo, unde ducimus aliquam dolorum, voluptas pariatur delectus earum nisi!</p>
          </div>
          <li class="accordion"><span>Доставка ко времени</span><span class="plus"><img class="plus_uslugi" src="/img/plus.png" alt=""><img class="minus_uslugi" src="/img/minus.png" alt=""></span></li>
          <div class="panel">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione tempore at sapiente quod ut? Quisquam tempora animi explicabo, similique velit quo, unde ducimus aliquam dolorum, voluptas pariatur delectus earum nisi!</p>
          </div>
          <li class="accordion"><span>Субботняя и воскресная доставки</span><span class="plus"><img class="plus_uslugi" src="/img/plus.png" alt=""><img class="minus_uslugi" src="/img/minus.png" alt=""></span> </li>
          <div class="panel">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione tempore at sapiente quod ut? Quisquam tempora animi explicabo, similique velit quo, unde ducimus aliquam dolorum, voluptas pariatur delectus earum nisi!</p>
          </div>
          <li class="accordion"><span>Железнодорожная (наземная) доставка</span><span class="plus"><img class="plus_uslugi" src="/img/plus.png" alt=""><img class="minus_uslugi" src="/img/minus.png" alt=""></span> </li>
          <div class="panel">
            <p>Данный сервис предусматривает сроки доставки от 3 до 15 рабочих дней.</p>
          </div>
          <li class="accordion"><span>Внутригородская доставка. Inside city</span><span class="plus"><img class="plus_uslugi" src="/img/plus.png" alt=""><img class="minus_uslugi" src="/img/minus.png" alt=""></span></li>
          <div class="panel">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione tempore at sapiente quod ut? Quisquam tempora animi explicabo, similique velit quo, unde ducimus aliquam dolorum, voluptas pariatur delectus earum nisi!</p>
          </div>
          <li class="accordion"><span>Дополнительные услуги</span><span class="plus"><img class="plus_uslugi" src="/img/plus.png" alt=""><img class="minus_uslugi" src="/img/minus.png" alt=""></span></li>
          <div class="panel">
            <h3 class="panel_h3_first">Упаковка</h3>
            <p>Каждое отправление снаружи мы дополнительно упаковываем перед транспортировкой. Но если Вы знаете, что содержимое хрупкое и нуждается в более жесткой и прочной упаковке, сообщите нам. Мы сможем предложить Вам варианты адекватной упаковки.</p>
            <h3>Страхование</h3>
            <p>Исключительно по желанию клиента мы имеем возможность застраховать отправление.</p>
          </div>
        </ul>
      </div>
      <div class="col-md-5">
        <div class="uslugi_img">
          <div class="about_img_first"><img src="<%= require('./assets/img/uslugi1.png') %>" alt=""></div>
          <div class="uslugi_second_img"><img src="<%= require('./assets/img/uslugi2.png') %>" alt=""></div>
        </div>
      </div>
    </div>
  </div>
</main>
<%= _.template(require('./footer.html'))() %>
