@import "variables";
@import "mixins";

.about_block{
  background-image: url("../assets/img/about_bg.png");
  background-repeat: no-repeat;
  background-position: 0% 100%;
  min-height: 714px;
  display: flex;
  align-items: center;
  .about_title{
    font-family: 'Montserrat-Bold';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.24px;
    text-transform: uppercase;
    color: $orange;
  }
  .about_descr_title{
    font-family: 'Montserrat-Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 47px;
    color: #1F1F1F;
  }
  .about_descr{
    font-family: 'Montserrat';
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #565656;
    padding-top: 20px;
  }
  .about_btn{
    @include button;
    padding: 18px;
    background: $orange;
    line-height: 70px;
    &:hover{
      text-decoration: none;
    }
  }
  .about_block_items{
    min-height: 460px;
    padding-top: 50px;
  }
}

.about_img{
  padding-top: 50px;
  min-height: 600px;
  display: flex;
  justify-content: center;
  .about_img_second{
    position: absolute;
    left: 5%;
    bottom: 0;
    top: 50%;
  }
}
