@import "variables";
@import "mixins";

.about_descr_h3{
  font-family: 'Montserrat-Bold';
  font-size: 14px;
  line-height: 24px;
  color: #565656;
}
.about_descr_p{
  font-family: 'Montserrat';
  font-size: 14px;
  line-height: 24px;
  color: #565656;
}
.orange_text{
  color: $orange;
}
.about_page_descr_text{
  position: relative;
  z-index: 1;
  .about_descr_p:first-child{
    padding-top: 30px;
  }
  .about_descr_p{
    padding: 10px 0px 0px 40px;;
  }
  &::before{
    content: '';
    width: 744px;
    position: absolute;
    height: 500px;
    background: #F9FAFB;
    z-index: -1;
  }
}
.about_page_img{
  top: 30%!important;
}

