@import "variables";
@import "mixins";

.contacts{
  display: flex;
  flex-direction: row;
  .contact_map{
    width: 720px;
    min-height: 720px;
    overflow: hidden;
  }
  .contacts_list{
    width: 720px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h2{
      font-family: 'Montserrat-Bold';
      font-size: 35px;
      line-height: 47px;
      display: flex;
      align-items: center;
      color: #1F1F1F;
      padding-top: 80px;
    }
    ul{
      margin: 0;
      padding: 0;
    }
    li{
      display: flex;
      align-items: center;
      padding-bottom: 32px;
    }
    .line{
      padding-top: 20px;
      padding-bottom: 30px;
    }
  }
  .contacts_descr{
    p{
      font-family: 'Montserrat';
      font-size: 14px;
      line-height: 30px;
      display: flex;
      align-items: center;
      color: #A1A5B9;
      margin: 0px;
    }
    h3{
      font-family: 'Montserrat-Bold';
      font-size: 18px;
      line-height: 30px;
      display: flex;
      align-items: center;
      color: #1F1F1F;
      margin: 0px;
    }
  }
  .contacts_btn{
    @include button;
    background: $orange;
    padding: 12px 33px;
  }
  .contacts_icons{
    padding-right: 25px;
  }
  
}