@import "variables";
@import "mixins";

.cost_kg{
  display: none;
}
.pos_number{
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: $orange;
  border: 1px solid $orange;
  box-sizing: border-box;
  border-radius: 50%;
  padding: 5px 10px;
}
.pos_number_1{
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: $orange;
  border: 1px solid $orange;
  box-sizing: border-box;
  border-radius: 50%;
  margin-right: 3px;
  padding: 5px 11.7px;
}
.cost_params{
  list-style-type: none;
  li{
    min-height: 50px;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #1A1A1A;
    padding: 10px;
  }
}

.cost_selects{
  display: inline-flex;
  align-items: center;
  justify-self: center;
}

.select1{
  outline: none;
  padding: 10px;
  margin: 10px;
  position: relative;
  display: block;
	width: 222px;
  background: url('../assets/img/arrow_select.png') center no-repeat; 
  background-position: 95%;
	appearance: none; 
	-webkit-appearance: none;
	-moz-appearance: none; 
}

.select2{
  outline: none;
  padding: 10px;
  margin: 10px;
  position: relative;
  display: block;
	width: 222px;
	background: url('../assets/img/arrow_select.png') center no-repeat; 
  background-position: 95%;
  appearance: none; 
	-webkit-appearance: none;
	-moz-appearance: none; 
}

.select_text{
  padding-left: 8px;
}

select::-ms-expand { 
	display: none; 
}


.pos_checkbox{
  padding: 30px;
  input {
    display: none;
  }
  
  label {
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  label span {
    position: relative;
    line-height: 22px;
    display: flex;
    align-items: center;
  }
  
  label span:before,
  label span:after {
    content: '';
  }
  
  label span:before {
    border: 1px solid $orange;
    width: 32px;
    height: 32px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: top;
  }
  
  label span:after {
    background: $orange;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 3.8px;
    left: 4px;
    bottom: 2px;
    right: 2px;
    transition: 300ms;
    opacity: 0;
  }
  
  label input:checked+span:after {
    opacity: 1;
  }
}
.orange{
  color: $orange;
}

.kg{
  display: inline-flex;
  padding: 40px 20px 40px 40px;
  input{
    background-color: #FFFFFF;
    border: 1px solid $orange;
    box-sizing: border-box;
    color: $orange;
    font-family: 'Montserrat';
    text-align: center;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  span{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $orange;
    color: #fff;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    width: 48px;
    height: 48px;
  }
}

.cost_descr{
  font-family: 'Montserrat';
  font-size: 14px;
  line-height: 19px;
  color: #1A1A1A;
  a{
    display: inline-flex;
    padding-left: 3px;
  }
}

.cost_info{
  font-family: 'Montserrat';
  font-size: 14px;
  line-height: 19px;
  color: #1A1A1A;
  display: inline-flex;
  vertical-align: middle;
  display: none;
  a{
    display: inline-flex;
    padding-left: 5px;

  }
}