@font-face{
    font-family: "Montserrat";
    src: url('../assets/fonts/Montserrat-Regular.ttf');
}
@font-face{
    font-family: "Montserrat-Bold";
    src: url('../assets/fonts/Montserrat-Bold.ttf')
}