@import "variables";
@import "mixins";
header{
  background: #fff;
  width: 100%;
  min-height: 80px;
  display: flex;
  align-items: center;
  .header_btn_mob{
    display: none;
  }
  .logo{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .dotted{
    border-right: 2px dotted #A1A5B9;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .contact_title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #A1A5B9;
  }
  .contact_descr{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #1F1F1F;
  }
  .lang_descr{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #1F1F1F;
    list-style-type: none;
    margin: 0;
    li{
      a{
        text-decoration: none;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: bolder;
        font-size: 18px;
        line-height: 30px;
        display: flex;
        align-items: center;
        color: #1F1F1F;
        &:hover{
          text-decoration: underline;
          color: $orange;
        }
        &:active{
          text-decoration: underline;
          color: $orange;
        }
      }
    }
    li:nth-child(2){
      padding: 0px 10px
    }
  }
  .lang_block{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .account, .result{
    display: flex;
    justify-content: center;
    align-items: center;
    a{
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      @include button;
    }
  }
  .account{
    a{
      background: $orange;
      padding: 18px;
    }
  }
  .result{
    a{
      background: $blue;
      padding: 18px 30px;
    }
  }
  // Header burget menu style
  .burger-menu-btn{
    width: 3rem;
    height: 2rem;
    background-color: #2239B9;
    border-radius: 5px;
    position: fixed;
    top: 1.5rem;
    right:2rem;
    cursor: pointer;
    transition: all 1s ease;
    z-index: 999;
  }
  .burger-menu-lines,
  .burger-menu-lines::after,
  .burger-menu-lines::before{
    position: absolute;
    width: 2rem;
    height: 5px;
    background-color: #fff;
  }
  .burger-menu-lines{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all .5s ease;
  }
  .burger-menu-lines::after{
    content: '';
    top: -12px;
    transition: all .5s ease;
  }
  .burger-menu-lines::before{
    content: '';
    top: 12px;
    transition: all .5s ease;
  }
  
  .burger-menu-lines-active .burger-menu-lines{
    background-color: transparent;
  }
  
  .burger-menu-lines-active .burger-menu-lines::before{
    top: 0;
    transform: rotate(-45deg);
  }
  
  .burger-menu-lines-active .burger-menu-lines::after{
    top: 0;
    transform: rotate(45deg);
    
  }
  
  .nav-panel-mobil{
    position: fixed;
    background-color: #fff;
    height:100vh;
    z-index: 99;
    transition:.5s;
    width: 100%;
    text-align: center;
    transform: translateX(-100%);
    font-size:20px;
    font-weight:bold;
    padding-top:1rem;
    top: 0;
    display: flex;
    align-items: center;
  }
  .nav-panel-mobil-active{
    transform: translateX(0);
  }
  .burger-menu-btn{
  width: 3rem;
  height: 2.5rem;
  background-color: #838efb;
  border-radius: 5px;
  position: fixed;
  top: 1.5rem;
  right:2rem;
  cursor: pointer;
  transition: all 1s ease;
  z-index: 999;
}
.burger-menu-lines,
.burger-menu-lines::after,
.burger-menu-lines::before{
	position: absolute;
	width: 2rem;
	height: 5px;
	background-color: #fff;
}
.burger-menu-lines{
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	transition: all .5s ease;
}
.burger-menu-lines::after{
	content: '';
	top: -12px;
	transition: all .5s ease;
}
.burger-menu-lines::before{
	content: '';
	top: 12px;
	transition: all .5s ease;
}

.burger-menu-lines-active .burger-menu-lines{
	background-color: transparent;
}

.burger-menu-lines-active .burger-menu-lines::before{
	top: 0;
	transform: rotate(-45deg);
}

.burger-menu-lines-active .burger-menu-lines::after{
	top: 0;
	transform: rotate(45deg);	
}
.mob-nav-link{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  color: #1F1F1F!important;
  &:hover{
    color: $orange!important;
  }
}
}
.active{
  color: $orange!important;
}