
@import "variables";
@import "mixins";

.if_block{
  min-height: 560px;
  background-image: url('../assets/img/if_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .if_title_block{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h3{
      font-family: 'Montserrat-Bold';
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 2.24px;
      text-transform: uppercase;
      color: $orange;
    }
    h2{
      font-family: 'Montserrat-Bold';
      font-size: 36px;
      line-height: 47px;
      color: #FFFFFF;
      padding: 25px;
      text-align: center;
    }
    img{
      margin-left: -30px;
    }
  }
  .if_btns{
    height: 50px;
    display: flex;
    width: 600px;
    justify-content: space-around;
    margin-top: 50px;
    a{
      @include button;
      background: $orange;
      padding: 13px 23px;
    }
  }
}