// Main page
@import "~bootstrap/scss/bootstrap";
@import "fonts";
@import "header";
@import "toolbar";
@import "main_block";
@import "about_block";
@import "services";
@import "posilka";
@import "if_block";
@import "contacts";
@import "modal_posilka";
@import "media";

// Information page
@import "information";

// Uslugi page
@import "uslugi";

// Cost Delivery page
@import "cost";

// Certificate page
@import "certificate";

// About page
@import "about";

// Map page
@import "map";

// Table page
@import "table";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.h3_template{
  font-family: 'Montserrat-Bold';
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2.24px;
  text-transform: uppercase;
  color: $orange;
}

.h2_template{
  font-family: 'Montserrat-Bold';
  font-size: 36px;
  line-height: 47px;
  color: #1F1F1F;
}

.template_descr{
  padding-top: 48px;
}

.modal-content{
  z-index: 99999;
}