@import "variables";
@import "mixins";

.h3_descr{
  font-family: 'Montserrat-Bold';
  font-size: 16px;
  line-height: 24px;
  color: #565656;
  padding: 20px 0px;
}

.information_ul{
  list-style: none;
  font-family: 'Montserrat';
  font-size: 14px;
  line-height: 24px;
  color: #565656;
  li::before{
    content: "\2022";
    color: $orange;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }
}