@import "variables";
@import "mixins";

.main_block{
  background-image: url("../assets/img/main_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 614px;
  min-height: 614px;
  display: flex;
  align-items: center;
  .main_descr{
    h3{
      font-family: 'Montserrat-Bold';
      font-size: 16px;
      line-height: 20px;
      color: #FFFFFF;
    }
    h2{
      font-family: 'Montserrat-Bold';
      font-size: 50px;
      line-height: 61px;
      color: #FFFFFF;
    }
    p{
      font-family: 'Montserrat';
      font-size: 16px;
      line-height: 20px;
      color: #FFFFFF;
    }
  }
}