.city_block{
  background: #FFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 300px;
  height: 195px;
  h3{
    font-family: 'Montserrat-Bold';
    font-size: 24px;
    line-height: 20px;
    margin: 0px;
  }
  ul{
    list-style-type: none;
    padding: 0px 45px;
    li{
      font-family: 'Montserrat';
      font-size: 16px;
      line-height: 20px;
    }
  }
}
.city_block_descr{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px 0px;
}
.Shymkent_block{
  position: absolute;
  z-index: 1;
  bottom: -10%;
  right: 25%;
  display: none;
}

.Petropavl_block{
  position: absolute;
  z-index: 1;
  top: 5%;
  right: 20%;
  display: none;
}

.Karaganda_block{
  position: absolute;
  z-index: 1;
  top: 45%;
  right: 25%;
  display: none;
}

.Aktobe_block{
  position: absolute;
  z-index: 1;
  top: 35%;
  left: 25%;
  display: none;
}

.Atyrau_block{
  position: absolute;
  z-index: 1;
  bottom: 20%;
  right: 60%;
  display: none;
}

.Aktau_block{
  position: absolute;
  z-index: 1;
  bottom: 0%;
  right: 60%;
  display: none;
}

.Aksay_block{
  position: absolute;
  z-index: 1;
  left: 14%;
  top: 35%;
  display: none;
}

.Ural_block{
  position: absolute;
  z-index: 1;
  left: 10%;
  top: 25%;
  display: none;
}

.Kyzylorda_block{
  position: absolute;
  z-index: 1;
  bottom: 10%;
  right: 35%;
  display: none;
}

.Taraz_block{
  position: absolute;
  z-index: 1;
  bottom: 0%;
  right: 15%;
  display: none;
}

.Oskemen_block{
  position: absolute;
  z-index: 1;
  top: 40%;
  right: 0%;
  display: none;
}

.Nursultan_block{
  position: absolute;
  z-index: 1;
  top: 30%;
  right: 20%;
  display: none;
}

.Almaty_block{
  position: absolute;
  z-index: 1;
  bottom: 0%;
  right: 5%;
  display: none;
}

.Pavlodar_block{
  position: absolute;
  z-index: 1;
  top: 18%;
  right: 2%;
  display: none;
}

.close_city{
  cursor: pointer;
}

#Petropavl, #Karaganda, #Aktobe, #Atyrau, #Aktau, #Aksay, #Ural, #Kyzylorda ,#Shymkent, #Taraz, #Oskemen, #Nursultan, #Almaty, #Pavlodar{
  cursor: pointer;
}