/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  .dotted{
    border-right: none!important;
  }
  .contact_descr {
    font-size: 15px!important;
  }
  .toolbar ul{
    padding-left: 0px;
  }
  .result a{
    padding: 18px 20px!important;
  }
  .account a{
    padding: 18px 8px!important;
    font-size: 13px!important;
  }
  .items_block{
    width: 100%!important;
  }
  .posilka_forms_bloc{
    justify-content: center;
  }
  .posilka_form{
    width: 100%!important;
  }
  .about_page_descr_text::before{
    height: 585px!important;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.about_page_descr_text .about_descr_p:first-child {
    padding-top: 90px !important;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .modal_block .modal_list_obzor .modal_list_descr ul li{
    padding: 10px 15px;
  }
  .modal_block .posilka_img{
    justify-content: flex-start;
  }
  .modal_block .close_btn{
    justify-content: flex-end;
  }
  .modal_block .input_block{
    order: 1;
  }
  .modal_block .modal_list_descr{
    padding: 0px;
  }
  .modal_block .modal_h3{
    flex-direction: column;
  }
  .table{
    justify-content: left!important;
  }
  .services_items_1, .services_items_2, .services_items_3, .services_items_4{
    background-size: contain;
    display: flex;
    justify-content: center;
  }
  .dotted{
    border-right: none!important;
  }
  .posilka_forms_bloc{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .posilka_form{
    width: 100%!important;
    min-height: 200px;
  }
  .if_btns{
    display: flex;
    flex-direction: column;
    width: 320px!important;
  }
  .if_btns > a{
    margin: 5px;
  }
  .posilka_title{
    text-align: center;
  }
  .posilka_form{
    margin-bottom: 15px;
    margin-right: 0px;
  }
  .contacts{
    flex-direction: column;
  }
  .contacts_list{
    width: 100%!important;
  }
  .contact_map{
    width: 100%!important;
    min-height: 0px!important;
  }
  .logo{
    padding: 20px;
    justify-content: flex-start!important;
  }
  .contacts_list li{
    padding-left: 30px;
  }
  .header_btn_mob{
    display: block!important;
    padding: 15px 5px;
    margin: 0 auto;
  }
  .account{
    padding-left: 20px;
  }
  .account > a, .result > a{
    padding: 14px!important;
  }
  .header_btn_desk{
    display: none!important;
  }
  .location_wrap, .search_wrap{
    -webkit-clip-path: none!important;
    clip-path: none!important;
    width: 100%!important;
    margin: 0px!important;
    padding: 0px!important;
    display: flex;
    justify-content: center;
  }
  .location_search_block{
    display: flex;
    flex-direction: column;
  }
  .about_img_first > img{
    width: 100%;
  }
  .items_block{
    margin-top: 90px!important;
  }
  .services_descr_title{
    text-align: center;
  }
  .contact_descr{
    font-size: 17px!important;
  }
  .about_page_descr_text::before{
    width: 100%!important;
    height: 0px!important;
  }
  .about_page_descr_text .about_descr_p {
    padding: 10px 15px 0px 15px!important;
  }
  .about_page_descr_text .about_descr_p:first-child {
    padding-top: 90px!important;
  }
}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .check_link{
    left: 15px;
  }
  .check_link_list{
    height: 550px;
  }
  .cost_selects{
    flex-direction: column;
    align-items: flex-start!important;
  }
  .select_text{
    padding-left: 0px!important;
  }
  .items_block{
    width: 330px!important;
  }
  .account{
    padding-left: 10px;
  }
  .city_block_descr{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 0px;
  }
  .Shymkent_block{
    position: absolute;
    z-index: 1;
    bottom: 0%;
    left: 8%;
    right: 0%;
    top: 0%;
    display: none;
  }
  
  .Petropavl_block{
    position: absolute;
    z-index: 1;
    bottom: 0%;
    left: 8%;
    right: 0%;
    top: 0%;
    display: none;
  }
  
  .Karaganda_block{
    position: absolute;
    z-index: 1;
    bottom: 0%;
    left: 8%;
    right: 0%;
    top: 0%;
    display: none;
  }
  
  .Aktobe_block{
    position: absolute;
    z-index: 1;
    bottom: 0%;
    left: 8%;
    right: 0%;
    top: 0%;
    display: none;
  }
  
  .Atyrau_block{
    position: absolute;
    z-index: 1;
    bottom: 0%;
    left: 8%;
    right: 0%;
    top: 0%;
    display: none;
  }
  
  .Aktau_block{
    position: absolute;
    z-index: 1;
    bottom: 0%;
    left: 8%;
    right: 0%;
    top: 0%;
    display: none;
  }
  
  .Aksay_block{
    position: absolute;
    z-index: 1;
    bottom: 0%;
    left: 8%;
    right: 0%;
    top: 0%;
    display: none;
  }
  
  .Ural_block{
    position: absolute;
    z-index: 1;
    bottom: 0%;
    left: 8%;
    right: 0%;
    top: 0%;
    display: none;
  }
  
  .Kyzylorda_block{
    position: absolute;
    z-index: 1;
    bottom: 0%;
    left: 8%;
    right: 0%;
    top: 0%;
    display: none;
  }
  
  .Taraz_block{
    position: absolute;
    z-index: 1;
    bottom: 0%;
    left: 8%;
    right: 0%;
    top: 0%;
    display: none;
  }
  
  .Oskemen_block{
    position: absolute;
    z-index: 1;
    bottom: 0%;
    left: 8%;
    right: 0%;
    top: 0%;
    display: none;
  }
  
  .Nursultan_block{
    position: absolute;
    z-index: 1;
    bottom: 0%;
    left: 8%;
    right: 0%;
    top: 0%;
    display: none;
  }
  
  .Almaty_block{
    position: absolute;
    z-index: 1;
    bottom: 0%;
    left: 8%;
    right: 0%;
    top: 0%;
    display: none;
  }
  
  .Pavlodar_block{
    position: absolute;
    z-index: 1;
    bottom: 0%;
    left: 8%;
    right: 0%;
    top: 0%;
    display: none;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
  .about_page_descr_text .about_descr_p:first-child {
    padding-top: 120px !important;
  }
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .burger-menu{
    display: none;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}