@import "variables";
@import "mixins";
.modal_block_print{
  display: none;
}
.modal_block{
  height: auto;
  padding: 40px 10px;
  background-color: #fff;
  .close_btn{
    display: flex;
    justify-content: center;
    .close{
      cursor: pointer;
    }
  }
  h3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #1F1F1F;
  }
  .input_block{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .posilka_img{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  input{
    background: #FFFFFF;
    border: 1px solid #EEF0F2;
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 17px;
    color: #BFBFBF;
    height: 50px;
    width: 100%;
    border-radius: 25px;
    padding-left: 15px;
    &:focus{
      outline: none;
    }
    &::placeholder{
      background: #FFFFFF;
      font-family: 'Montserrat';
      font-size: 14px;
      line-height: 17px;
      color: #BFBFBF;
    }
  }
  .posilka_btn{
    @include button;
    background: $orange;
    width: 120px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    margin-left: -85px;
    cursor: pointer;
  }
  .posilka_submit{
    display: inline-flex;
  }
  .modal_list_h{
    font-family: 'Montserrat-Bold'!important;
    font-size: 18px!important;
    line-height: 24px!important;
    color: #565656!important;
    margin: 0;
  }
  .modal_color{
    color: $orange;
  }
  .modal_list > ul{
    list-style-type: none;
    padding-left: 10px;
    li{
      font-family: 'Montserrat';
      font-size: 16px;
      line-height: 24px;
      color: #6E6E6E;
      padding: 6px 0px;
    }
  }
  .modal_h3{
    display: inline-flex;
    align-items: center;
    justify-self: center;
    margin-top: 40px;
    margin-bottom: 16px;
    border-left: 3px solid $orange;
  }
  .modal_list_h3{
    display: inline-flex;
    align-items: center;
    justify-self: center;
    border-left: 3px solid $orange;
  }
  .modal_span{
    padding-left: 15px;
    vertical-align: middle;
    cursor: pointer;
  }
  .nakladnaya{
    padding-left: 8px;
  }
  .modal_border{
    border-left: 3px solid $orange;
  }
  .modal_list_descr{
    padding: 0px 40px;
  }
  .modal_list_obzor{
    display: none;
    margin-top: 30px;
    overflow: hidden;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
    .modal_list_descr{
      ul{
        list-style-type: none;
        margin-top: -15px;
        li{
          padding: 9px 0px;
          span{
            padding-top: 4px;
            font-family: 'Montserrat';
            font-size: 16px;
            line-height: 24px;
            color: #6E6E6E;
          }
        }
      }
    }
  }
  .check_link{
    position: absolute;
    left: 12px;
    top: 0px;
  }
  .plus{
    display: block;
  }
  .minus{
    display: none;
  }
  .print_modal{
    background: #FFFFFF;
    border: 1px solid #FC671A;
    box-sizing: border-box;
    border-radius: 8px;
    color: $orange;
    cursor: pointer;
    text-decoration: none;
    padding: 4px 8px;
    margin-left: 10px;
  }
}

@media screen {
  #printSection {
      display: none;
  }
}

@media print and (orientation:portrait){
  html, body { 
    height:100vh; 
    // margin: 0 !important; 
    // padding: 0 !important;
    overflow: hidden;
   }
  body * {
    visibility:hidden;
  }
  .modal_block{
    display: none;
  }
  .modal_block_print{
    page-break-after: auto;
    display: flex;
    justify-content: center;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 24px;
    .modal_print_center{
      text-align: center;
      margin-top: 100px;
      margin-bottom: 80px;
    }
    h3{
      font-family: 'Montserrat-Bold';
      font-size: 50px;
      line-height: 47px;
      padding-top: 20px;
    }
    p{
      font-family: Montserrat;
      font-size: 30px;
      padding-top: 30px;
    }
    }
    .print_ul{
      display: inline-flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      font-family: 'Montserrat';
      font-size: 25px;
      line-height: 23px;
      margin: 0 auto;
      .print_ul_1{
        text-align: left;
        list-style-type: none;
        li{
          padding: 30px;
          vertical-align: middle;
          strong{
            padding-right: 5px;
          }
        }
      }
      .print_ul_2{
        text-align: right;
        list-style-type: none;
        li{
          padding: 30px;
          vertical-align: middle;
          strong{
            padding-right: 5px;
          }
        }
      }
    }
  
  #printSection, #printSection * {
    visibility:visible;
  }
  #printSection {
    position:absolute;
    left:0;
    top:0;
  }
}