@import "variables";
@import "mixins";

.posilka{
  background-image: url('../assets/img/posilka_bg.png');
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-color: #fff;
  min-height: 559px;
  .posilka_title_block{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 30px;
    .posilka_title{
      font-family: 'Montserrat-Bold';
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 2.24px;
      text-transform: uppercase;
      color: $orange;
    }
    .posilka_descr_title{
      font-family: 'Montserrat-Bold';
      font-weight: bold;
      padding: 25px;
      font-size: 35px;
      line-height: 47px;
      color: #1F1F1F;
    }
  }
  .posilka_forms_bloc{
    display: flex;
  }
  .posilka_form{
    width: 555px;
    height: 200px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    background: #F9FAFB;
    .close_btn{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    h3{
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 22px;
      color: #1F1F1F;
    }
    .input_block{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .posilka_img{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    input{
      background: #FFFFFF;
      border: 1px solid #EEF0F2;
      font-family: 'Montserrat';
      font-size: 14px;
      line-height: 17px;
      color: #BFBFBF;
      height: 50px;
      width: 100%;
      border-radius: 25px;
      padding-left: 15px;
      &:focus{
        outline: none;
      }
      &::placeholder{
        background: #FFFFFF;
        font-family: 'Montserrat';
        font-size: 14px;
        line-height: 17px;
        color: #BFBFBF;
      }
    }
    .posilka_btn{
      @include button;
      background: $orange;
      width: 120px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      padding: 12px;
      cursor: pointer;
      margin-left: -85px;
    }
    .posilka_submit{
      display: inline-flex;
    }
  }
}