@import "variables";
@import "mixins";

.services_block{
  min-height: 1029px;
  background-color: #F9FAFB;
  .services_title_block{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 30px;
    .services_title{
      font-family: 'Montserrat-Bold';
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 2.24px;
      text-transform: uppercase;
      color: $orange;
    }
    .services_descr_title{
      font-family: 'Montserrat-Bold';
      font-weight: bold;
      padding: 25px;
      font-size: 35px;
      line-height: 47px;
      color: #1F1F1F;
    }
  }
  .services_items_1{
    background-image: url('../assets/img/items_1.png');
    background-repeat: no-repeat;
    padding-bottom: 30px;
  }
  .services_items_2{
    background-image: url('../assets/img/items_2.png');
    background-repeat: no-repeat;
    padding-bottom: 30px;
  }
  .services_items_3{
    background-image: url('../assets/img/items_3.png');
    background-repeat: no-repeat;
    padding-bottom: 30px;
  }
  .services_items_4{
    background-image: url('../assets/img/items_4.png');
    background-repeat: no-repeat;
    margin: 0 auto;
  }
  .items_block{
    background-color: #fff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    width: 330px;
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 50px;
    margin-top: 130px;
    h3{
      font-family: 'Montserrat-Bold';
      font-size: 16px;
      line-height: 20px;
      color: #1F1F1F;
    }
    a{
      font-family: 'Montserrat';
      font-size: 14px;
      line-height: 17px;
      text-decoration: none;
      color: $orange;
    }
    img{
      padding-bottom: 25px;
    }
  }
}