@import "variables";
@import "mixins";

.table{
  display: flex;
  justify-content: center;
  font-family: 'Montserrat';
  font-size: 18px;
  line-height: 20px;
  padding-top: 35px;
  overflow-x: auto;
  .ups_width{
    width: 16%;
  }
  .td_width{
    max-width: 80px;
    text-align: center;
  }
  .td_center{
    text-align: center;
  }
  .table_uslovia{
    height: 800px!important;
    overflow-y: auto;
  }
  .spravka_table{
    width: 100%;
    height: 672px!important;
    overflow-y: auto;
    max-width: none;
  }
  .table_wrap{
    position: relative;
    height: 672px;
    overflow-y: auto;
    tr{
      th{
        position: sticky;
        top: 0;
        background-color: #fff;
        border: 1px solid #000;
      }
    }
  }
  .packages{
    position: sticky;
    top: 0;
  }
  table{
    max-width: 793px;
    height: 1047px;
    border: 1px solid #000;
    tr{
      border: 1px solid #000;
      td, th{
        border: 1px solid #000;
      }
      th{
        text-align: center;
      }
    }
  }
}