@import "variables";
@import "mixins";

.toolbar{
  min-height: 50px;
  background: $blue;
  display: flex;
  align-items: center;
  .toolbar_wrap{
    align-items: center;
  }
  .inputs_wrapper{
    padding: 0px;
  }
  .location_search_block{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .location, .search{
      display: inline-flex;
      align-items: center;
      img{
        padding-right: 10px;
      }
      input{
        background: none;
        outline: none;
        border: none;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: normal;
        font-size: 13.8306px;
        line-height: 17px;
        color: #FFFFFF;
        &::placeholder{
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: normal;
          font-size: 13.8306px;
          line-height: 17px;
          color: #FFFFFF;
        }
      }
    }
    .location_title{
      width: 135px;
    }
    .search_title{
      width: 175px;
    }
    .location_wrap{
      background: #2D45CB;
      height: 50px;
      width: 300px;
      display: flex;
      justify-content: center;
      margin-right: -10px;
      -webkit-clip-path: polygon(10% 0, 100% 0%, 90% 100%, 0% 100%);
      clip-path: polygon(10% 0, 100% 0%, 90% 100%, 0% 100%);
    }
    .search_wrap{
      background: #2239B9;
      height: 50px;
      width: 300px;
      display: flex;
      padding-left: 40px;
      margin-left: -45px;
      transform-origin: bottom;
      -webkit-clip-path: polygon(10% 0, 100% 0%, 100% 100%, 0% 100%);
      clip-path: polygon(10% 0, 100% 0%, 100% 100%, 0% 100%);
    }
  }
  ul{
    margin: 0;
    padding: 0;
    padding-left: 108px;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    li{
      display: inline-flex;
      a{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 30px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        text-decoration: none;
        &:hover{
          color: $orange;
        }
        &:active{
          color: $orange;
        }
      }
    }
  }
}
.uslugi_menu{
  position: absolute;
  width: 268px;
  min-height: 184px;
  left: 25%;
  z-index: 1;
  .menu{
    display: block;
    background: #FFFFFF;
    border-top: 3px solid $orange;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.13);
    li{
      border: 1px solid #F0F0F0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px 25px;
      font-family: 'Montserrat';
      font-size: 14px;
      line-height: 17px;
      color: #1F1F1F;
      cursor: pointer;
      a{
        color: #1F1F1F;
        text-decoration: none;
        &:hover{
          color: #2D45CB;
        }
      }
      .active{
        display: none;
      }
      &:hover{
        color: #2D45CB;
        img{
          display: none;
        }
        .active{
          display: block;
        }
      }
    }
  }
  .menu_child{
    position: absolute;
    left: 98%;
    top: 0%;
    width: 268px;
  }
  .menu_child_items{
    position: absolute;
    left: 198%;
    bottom: -164%;
    width: 268px;
  }
}

