@import "variables";
@import "mixins";

.uslugi_descr{
  ul{
    list-style-type: none;
    .accordion{
      font-family: 'Montserrat';
      font-size: 16px;
      line-height: 131.77%;
      display: flex;
      justify-content: space-between;
      color: #535353;
      padding: 16px 10px;
      cursor: pointer;
      border-top: 1px solid #C4C4C4;
      &:last-child{
        border-bottom: 1px solid #C4C4C4;
      }
    }
  }
}
.border{
  border: 2px solid #C4C4C4;
}
.plus{
  display: flex;
  justify-content: center;
  align-items: center;
}
.minus_uslugi{
  display: none;
}
.panel {
  padding: 0 18px;
  background: #EEF3F6;
  box-sizing: border-box;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  p{
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 24px;
    color: #565656;
    margin-bottom: 0px!important;
    padding: 15px 20px;
  }
  .panel_ul li::before {
    content: "\2022";
    color: $orange;
    font-weight: bold;
    display: inline-block;
    width: 1em;
  }
  .panel_ul{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #565656;
    padding: 15px 20px;
  }
  h3{
    padding: 0px 20px;
    font-family: 'Montserrat-Bold';
    font-size: 18px;
    line-height: 22px;
    color: #535353;
    margin: 0;
  }
  .panel_h3_first{
    padding-top: 20px;
  }
}
.uslugi_img{
  min-height: 600px;
  display: flex;
  justify-content: center;
}
.uslugi_second_img{
  position: absolute;
  left: 5%;
  bottom: 0;
  top: 35%;
}